{
  "extends": "stylelint-config-standard",
  "rules": {
    "selector-type-no-unknown": true,
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["supports"]
      }
    ],
    "property-no-unknown": [
      true,
      {
        "ignoreProperties": [
          "/^-webkit-/",
          "/^-moz-/"
        ]
      }
    ],
    "max-nesting-depth": [3, { "ignore": ["blockless-at-rules"] }],
    "selector-max-compound-selectors": 4,
    "selector-max-specificity": "0,3,2",
    "declaration-property-value-no-unknown": true,
    "function-url-quotes": "always",
    "font-weight-notation": "numeric",
    "block-no-empty": true,
    "property-no-vendor-prefix": [true, {
      "ignoreProperties": ["-webkit-mask-composite"]
    }]
  }
}
