{
  "extends": "stylelint-config-standard",
  "rules": {
    "selector-type-no-unknown": [
      true,
      {
        "ignoreTypes": [
          "/^math-/",
          "/^custom-/"
        ]
      }
    ],
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "supports"
        ]
      }
    ],
    "property-no-unknown": [
      true,
      {
        "ignoreProperties": [
          "/^mask/",
          "/^webkit-/",
          "/^moz-/"
        ]
      }
    ],
    "at-rule-descriptor-no-unknown": [
      true,
      {
        "ignoreDescriptors": [
          "orphans",
          "widows"
        ]
      }
    ],
    "max-nesting-depth": [3, { "ignore": ["blockless-at-rules"] }],
    "selector-max-compound-selectors": 4,
    "selector-max-specificity": "0,3,2",
    "declaration-property-value-no-unknown": true,
    "color-no-hex": null,
    "function-url-quotes": "always",
    "font-weight-notation": "numeric",
    "block-no-empty": true
  }
}
